.cabealho {
    display: flex;
    flex-direction: column;
    width: 1728px;
    align-items: flex-start;
    position: relative;
  }
  
  .cabealho .anexo-cabealho {
    display: flex;
    flex-direction: column;
    height: 24px;
    align-items: flex-end;
    gap: 10px;
    padding: 5px 144px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: var(--main-color);
  }
  
  .cabealho .area-reservada {
    position: relative;
    width: 257px;
    height: 14px;
    margin-right: -6.00px;
  }
  
  .cabealho .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: -0.18px;
    line-height: 14px;
    white-space: nowrap;
  }
  
  .cabealho .div {
    position: absolute;
    top: 0;
    left: 115px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: -0.18px;
    line-height: 14px;
    white-space: nowrap;
  }
  
  .cabealho .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 191px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: -0.18px;
    line-height: 14px;
    white-space: nowrap;
  }
  
  .cabealho .conteudo-cabealho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 174px;
    padding: 0px 144px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--color-background-default-default);
  }
  
  .cabealho .logotipo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 27px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -0.34px;
  }
  
  .cabealho .logo-horizontal-sem {
    display: flex;
    flex-direction: column;
    width: 107.67px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
  }
  
  .cabealho .component {
    position: relative;
    width: 107.67px;
    height: 32px;
  }
  
  .cabealho .menu-lingua {
    position: relative;
    width: 1105px;
    height: 72px;
    margin-right: -0.34px;
  }
  
  .cabealho .header-menu {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .cabealho .header-menu-link {
    display: inline-flex;
    height: 74px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 21px 24px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -1.00px;
    margin-bottom: -1.00px;
    margin-left: -1.00px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: var(--main-color);
  }
  
  .cabealho .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: var(--link-small-font-family);
    font-weight: var(--link-small-font-weight);
    color: var(--defaulttext);
    font-size: var(--link-small-font-size);
    letter-spacing: var(--link-small-letter-spacing);
    line-height: var(--link-small-line-height);
    white-space: nowrap;
    font-style: var(--link-small-font-style);
  }
  
  .cabealho .in-cio-wrapper {
    display: inline-flex;
    height: 72px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 21px 24px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
  }
  
  .cabealho .lingua {
    position: absolute;
    width: 70px;
    height: 16px;
    top: 28px;
    left: 1035px;
  }
  
  .cabealho .shutterstock {
    position: absolute;
    width: 24px;
    height: 16px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .cabealho .language-selection {
    display: flex;
    width: 40px;
    height: 16px;
    align-items: center;
    gap: 6px;
    position: absolute;
    top: 0;
    left: 30px;
  }
  
  .cabealho .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--link-small-font-family);
    font-weight: var(--link-small-font-weight);
    color: var(--defaulttext);
    font-size: var(--link-small-font-size);
    letter-spacing: var(--link-small-letter-spacing);
    line-height: var(--link-small-line-height);
    white-space: nowrap;
    font-style: var(--link-small-font-style);
  }
  
  .cabealho .chevron-down {
    position: relative;
    width: 12.86px;
    height: 8px;
    margin-right: -0.86px;
  }
  