:root {
    --main-color: rgba(18, 116, 174, 1);
    --defaulttext: rgba(39, 48, 56, 1);
    --hover: rgba(18, 116, 174, 0.2);
    --secundaria: rgba(242, 163, 15, 1);
    --hero-h1-font-family: "Montserrat", Helvetica;
    --hero-h1-font-weight: 400;
    --hero-h1-font-size: 56px;
    --hero-h1-letter-spacing: -0.84px;
    --hero-h1-line-height: 80px;
    --hero-h1-font-style: normal;
    --sub-page-h1-font-family: "Montserrat", Helvetica;
    --sub-page-h1-font-weight: 400;
    --sub-page-h1-font-size: 48px;
    --sub-page-h1-letter-spacing: -0.72px;
    --sub-page-h1-line-height: 72px;
    --sub-page-h1-font-style: normal;
    --body-h4-font-family: "Montserrat", Helvetica;
    --body-h4-font-weight: 700;
    --body-h4-font-size: 24px;
    --body-h4-letter-spacing: -0.36px;
    --body-h4-line-height: 36px;
    --body-h4-font-style: normal;
    --body-p-font-family: "Montserrat", Helvetica;
    --body-p-font-weight: 400;
    --body-p-font-size: 18px;
    --body-p-letter-spacing: -0.27px;
    --body-p-line-height: 30px;
    --body-p-font-style: normal;
    --body-p-small-font-family: "Montserrat", Helvetica;
    --body-p-small-font-weight: 400;
    --body-p-small-font-size: 14px;
    --body-p-small-letter-spacing: -0.21px;
    --body-p-small-line-height: 22px;
    --body-p-small-font-style: normal;
    --body-text-CTA-btn-font-family: "Montserrat", Helvetica;
    --body-text-CTA-btn-font-weight: 700;
    --body-text-CTA-btn-font-size: 18px;
    --body-text-CTA-btn-letter-spacing: -0.27px;
    --body-text-CTA-btn-line-height: 30px;
    --body-text-CTA-btn-font-style: normal;
    --body-p-large-font-family: "Montserrat", Helvetica;
    --body-p-large-font-weight: 400;
    --body-p-large-font-size: 36px;
    --body-p-large-letter-spacing: -0.54px;
    --body-p-large-line-height: 50px;
    --body-p-large-font-style: normal;
    --link-medium-font-family: "Montserrat", Helvetica;
    --link-medium-font-weight: 400;
    --link-medium-font-size: 18px;
    --link-medium-letter-spacing: -0.27px;
    --link-medium-line-height: 30px;
    --link-medium-font-style: normal;
    --link-small-font-family: "Montserrat", Helvetica;
    --link-small-font-weight: 500;
    --link-small-font-size: 14px;
    --link-small-letter-spacing: -0.21px;
    --link-small-line-height: 16px;
    --link-small-font-style: normal;
    --RNT-blue: 4px 4px 20px 0px rgba(229, 229, 229, 1);
    --color-background-default-default: var(--color-primitives-white-1000);
    --color-primitives-white-1000: rgba(255, 255, 255, 1);
  }
  
  /* mini header style*/
  .socials-holder {
    text-align: center; /* Centraliza o menu */
  }
  
  .socials-primary {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 25px; /* Espaçamento entre os itens */
  }
  
  .socials-primary li a {
    text-decoration: none; /* Remove o sublinhado */
    font-size: 12px; /* Tamanho da fonte */
    color: #fff; /* Cor do texto */
    transition: color 0.3s ease; /* Efeito de transição ao passar o mouse */
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
  }
  
  .socials-primary li a:hover {
    color: lightgray; /* Cor ao passar o mouse */
  }


  .icon {
    display: inline-block;
    width: 4em;
    height: 1em;
    fill: currentColor;
  }

  .flag-icon {
    width: 20px; /* Tamanho da bandeira */
    height: auto;
    margin-right: 6px; /* Espaçamento entre a bandeira e a seta */
  } 

  .arrow-icon {
    font-size: 16px; /* Tamanho da setinha */
    margin-left: 10px; /* Espaço entre o texto e a setinha */
    color: #000; /* Cor da setinha */
    cursor: pointer;
  }